*.la
*.lo
*.o
*.pyc
*~

gnucap_wrap.cxx
gnucap_wrap.h
gnucap.py

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
automate.m4
autom4te.cache
aclocal.m4

config.h.in
config.h
config.guess
config.log
config.status
config.sub
configure
configure.lineno

compile
ltmain.sh
missing
install-sh
stamp-h1
libtool
depcomp

Makefile.in
Makefile

.deps
.libs
